.header{
    margin-top: 60px;
}
.headerImg{
   width: 100%;
   height: 750px;
   margin-top: 80px;
   object-fit: cover;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
}
.headerTitlesSm{
    position: absolute;
    top: 18%;
    font-size: 33px;
}
.headerTitlesLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}