.TopBar{
    width: 100%;
    height: 50px;
    background-color:red;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}
.TopLeft,.TopRight{
    flex: 3;
    background-color: wheat;
}
.TopCenter{
 flex:6; 
}
.TopImg{
    width: 40px;
    height: 40px;
}