.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #583010;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid teal;
    border-bottom: 1px solid teal;
    font-family: 'Questrial', sans-serif;
    font-family: 12px;
    color: rgb(3, 99, 99);
    font-weight: 600;

}

div {
    font-family: 'Questrial', sans-serif;
}

.sidebarItem > img {
    margin-top: 15px;
    width: 333px;
}

.sidebarItem > p {
    padding: 30px;
}

.sidebarItem > p {
    padding: 30px;

}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
   display: inline-block;
   width: 50%;
   margin-top: 15px;
   cursor: pointer;
}
.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
